* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#home {
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.intro-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center the content horizontally */
    max-width: 1000px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
    gap: 20px; /* Add space between the image and the text */
}

.profile-picture {
    border-radius: 5%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
