* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#home {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.intro-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center the content horizontally */
    max-width: 100%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
    gap: 2%; /* Add space between the image and the text */
}

.intro-text {
    max-width: 700px;
    text-align: left;
}

.intro-text p {
    padding: 10px 10px;
    line-height: 1.6;
}

.profile-picture {
    border-radius: 5%;
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

#education {
    padding-left: 15%;
    padding-right: 15%;
    max-width: 1200px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
}

#education ul {
    list-style-position: inside; /* Ensures bullets are inside the padding */
}

#education h3 {
    margin-top: 20px;
}

.edu-container {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 20px;
    gap: 3%;
}

.gt-logo {
    width: 50%; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.project-container {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically center the items */
    justify-content: center;
    max-width: 100%;
    padding: 20px; /* Add padding for space around content */
    margin: 20px 20%;
}

.vip-logo {
    width: 50%; /* Set the width of the VIP logo image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
}

.project-text {
    max-width: 800px; /* Optional: limit the text width for readability */
}

.project-text p {
    padding-bottom: 20px;
}

.projects-title {
    text-align: center;
    padding: 20px;
}

#projects ul {
    list-style-position: inside;
}

.role {
    max-width: 55%;
    margin: 20px auto;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ADD8E6; /* Light blue color */
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
    color: #87CEFA; /* Even lighter blue on hover */
}
